logs
*.log
npm-debug.log*

node_modules
dist
bin
*.local

!.vscode/extensions.json
.idea
.DS_Store

.env
# Configuration files with potentially sensitive data
.documenter.*

package-lock.json
yarn.lock